/* Reset some default styles */
body, p {
    margin: 0;
    padding: 0;
}

/* Set the background color and center the content */
body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style the main content container */
#contents {
    text-align: center;
}

/* Style the image gallery container */
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
}

/* Style individual gallery rows */
.gallery-row {
    display: flex;
    justify-content: center;
    margin: 0 -15px; /* Add negative margins to counteract the side margins on individual images */
}

/* Style individual gallery items */
.gallery-item {
    flex: 0 0 calc(33.33% - 30px); /* Width calculation for 3 images per row with side margins */
    margin: 15px; /* Side margins */
    text-align: center;
}

/* Style the images */
.image {
    max-width: 100%;
    height: auto;
    border: 1px solid #333;
}

/* Style the descriptions below the images */
.image-description {
    font-weight: bold;
    margin: 5px 0;
}

/* Style the weather data container */
#right {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-color: black;
    border-radius: 20px;
}

/* Style the weather data */
#temp {
    font-size: 24px;
}

/* Style the logo and description */
#logo-weather {
    display: flex;
    align-items: center;
    margin: 10px;
}

#logo-weather figcaption {
    margin-left: 10px;
    font-size: 18px;
}

/* Style the weather data items */
.weather-data-item {
    margin: 5px;
}

.weather-data-value {
    font-weight: bold;
}

/* Style the "Generate" button */
#generateButton {
    display: block;
    margin: 20px auto;
    background-color: #0074D9;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
}

/* Style the "Generate" button on hover */
#generateButton:hover {
    background-color: #0056b3;
}
