
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Montserrat', sans-serif; /* Modern font */
    font-size: 36px;
    margin-top: 50px;
}

p {
    font-family: 'Montserrat', sans-serif; /* Modern font */
    font-size: 18px;
    margin: 20px 0;
}
